#box {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 50px;
}
h2{
    color: white;
    font-size: 15px;
}
button {
    background-color: blue;
    color: white;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    height: 30px
}